header{
    background-color: #EDF2F4;
    position: static;
}

body{
    background-color: #e63947;
    height: 100vh;
    width: 100vw;
}
main{
    background-color: #e63947;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 67px);
    justify-content: space-around;
    align-items: center;
}
.div_img_login_logo{
    width: 30%;
    height: 70%;
    background-repeat: no-repeat;
    right: 0px;
}
.div_container{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div_login{
    height: 75%;
    width: 80%;
    background-color: #e6394700;
    border: #EDF2F4 solid 5px;
    box-shadow: 0px 0px 20px #0000009f;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #EDF2F4;
}

.titulo_login{
    font-size: 23px;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: 40%;
    border-bottom: #EDF2F4 solid 5px;
    justify-content:  center;
    min-height: 30px;
    height: 10%;
    color: #EDF2F4;
}

.inputs_login{
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 5px;
}

.inputs_login input{
    border: none;
    border-radius: 25px;
    height: 50px;
    box-shadow: #0000004b -7px 7px 10px;
}

.inputs_login span{
    color: #EDF2F4;
    margin-left: 20px;
}

.btn_login{
    background-color: #00000000;
    border: none;
    border-radius: 30px;
    width: 40%;
    min-height: 25px;
    height: 9%;
    cursor: pointer;
    color: #EDF2F4;
    box-shadow: #00000085 0px 0px 20px;
    transition: .5s;
}

.btn_login:hover{
    background-color: #EDF2F4;
    color: #e63947;
}

.link_cadastro{
    margin-top: 20px;
    width: 80%;
    bottom: 0px;
    text-align: right;
}
.erro {
    margin: 10px;
    color: black;
}