@media screen and (max-width: 1280px) {
    html{
        height: fit-content;
    }
    body{
        height: fit-content;
        position: relative !important;
        background-color: #E63946;
    }
    .pg1 {
        background-image: url("../img/teste2.png");
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
        padding-left: 6%;
    }

    .conteudo_pg1 h1 {
        height: 12%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conteudo_pg1 h1 {
        font-weight: 400;
        font-size: 4px;
        color: #22223B;
        margin-bottom: 20px;
    }

    .conteudo_pg1 p {
        /* font-weight: 400; */
        font-size: 12px;
        margin-bottom: 0;
    }

    .conteudo_pg1 {
        height: 12%;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .redesSociais {
        width: 55%;
        display: flex;
        justify-content: space-between;
    }

    /* pagina 2 */

    .pg2 {
        margin-top: 100px;
        height: 80vh;
    }

    /* .carousel {
        height: 460px;
    } */

    /* pagina 3 */

    .pg3 {
        height: fit-content;
    }

    .divAvaliacoes{
margin-top: 10vh;
margin-bottom: 10vh;
    }

    .passo-div {
        display: flex;
        width: 100%;
        height: 100%;
        /* align-items: center; */
        flex-direction: column;
    }

    .foto_passo_a_passo {
        width: 60%;
        height: 72%;
    }

    .passo,
    .One p,
    .passo,
    .Two p,
    .passo,
    .Three p {
        row-gap: 15px;
        margin-bottom: 2.5rem;
    }

    /* avaliacoes */

    .avaliacoes,
    .txt h6 {
        width: 30vh;
    }

    /* faq */

    .pergFreq {
        padding-left: 8vw;
        position: absolute;
        width: 54vw;
        ;
        font-weight: bold;
        text-align: end;
    }

    .faq {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        gap: 50px;
        height: 55vh;
        justify-content: center;
    }

    .cardPerguntas {
        width: 80%;
    }

    /* página 5 */

    .pg5 {
        height: fit-content;
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        /* position: absolute; */
    }
    .Cardsequipe{
        width: 100vw;
        justify-content: space-around;
    }

    .cardEquipe {
        width: fit-content;
        height: fit-content;
    }
    /* quem somos */
    .cardEquipe img{
        width: 20vw !important;
        height: 20vw !important;
    }
    .img_QuemSomos {
        width: 85%;
    }

    .quemSomos {
        row-gap: 50px;
    }

    .textoQuemSomos {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5px;
    }

    .quemSomos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }

    .marVermelho {
        bottom: -1px;
    }

    .valores{
        gap: 65px;
        height: fit-content !important;
    }

    .valoresIcones {
        display: none;
    }

    .valoresResponsivo {
        display: grid;
        justify-items: center;
        gap: 30px;
    }

    .cardValores.cardV1 {
        display: flex;
        gap: 70px;

    }
    
    /* equipe */

    .equipe {
        /* margin-top: 45%; */
        padding: 10px 0px;
    }

    /* .cardEquipe {
        width: 5%;
        height: 5vh;
    } */

    .equipeCards {
        gap: 60px;
    }

    .circuloPreto {
        display: none;
        bottom: 360px;
    }

    footer{
        padding: 10px 0px;
        width: 100vw;
        height: 36vh;
        margin-bottom: -36vh;
        align-items: center;
        position: absolute;
        bottom: 0px;
        justify-content: space-between;
    }
}