

.pg {
    height: 88vh;
    width: 100%;
}

.pg1 {
    background-image: url("../img/teste1-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 123vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

.conteudo_pg1 {
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.conteudo_pg1 h1 {
    font-weight: 400;
    font-size: 40px;
    color: #22223B;
    margin-bottom: 40px;
}

.conteudo_pg1 p {
    font-weight: 400;
    font-size: 30px;
}

.pg2 {
    display: flex;
    align-items: center;
}

.carousel_serv {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 550px;
}

.carousel-inner {
    height: 100%;
}

.carro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.carro h1 {
    width: 100%;
    text-align: center;
}

.btnCarousel {
    width: 5%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    height: 100%;
}

.btnCarousel:hover {
    opacity: 1;
}

.btnCarousel2 {
    right: 0;
}

.btnCarousel_atras {
    background-image: url(../img/icone/ico_atras.png);
    width: 40px;
    height: 45px;
    background-repeat: no-repeat;
}

.btnCarousel_frente {
    background-image: url(../img/icone/ico_frente.png);
    width: 25px;
    height: 45px;
    background-repeat: no-repeat;
}

.quadrado_tela2 {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #1D3557;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    color: #EDF2F4;
}

.red {
    background-color: #E63946;
    box-shadow: 45px 30px 0px #e6394779;
}

.lightBlue {
    background-color: #457B9D;
    box-shadow: 45px 30px 0px #457B9D79;
}

.darkBlue {
    background-color: #1D3557;
    box-shadow: 45px 30px 0px #1D355779;
}

.card2{
    display: flex;
    flex-direction: column;

}

.teste {
    perspective: 800px;

    width: 18%;
    min-width: 200px;
}

.teste:hover>.card2 {
    cursor: pointer;
    transform: rotateY(-180deg);
}

.card2 {
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: hidden;
}

.front{
    font-size: 10px;
}

.back {
    position: absolute;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.pg3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.cardUser {
    background-color: #A8DADC;
    height: 30%;
    width: 100%;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userStory {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadradoMeio {
    background-color: #E63946;
    opacity: 0.46;
    width: 50%;
    height: 10%;
}

.grupoIcon{
    display: flex;
    flex-direction: column;
}

.cardUser p {
    font-size: 17px;
    /* width: 345px; */
    width: 50%;
    margin: 0px ;
}

.storyboard {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
}