main {
    overflow: hidden;
}

.pg {
    height: 88vh;
    width: 100%;
}

.pg1 {
    background-image: url("../img/teste1-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 123vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

.conteudo_pg1 {
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.conteudo_pg1 h1 {
    font-weight: 400;
    font-size: 40px;
    color: #22223B;
    margin-bottom: 40px;
}

.conteudo_pg1 p {
    font-weight: 400;
    font-size: 30px;
}

.pg2 {
    display: flex;
    align-items: center;
}

.carousel_serv {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 550px;
}

.carousel-inner {
    height: 100%;
}

.carro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.carro h1 {
    width: 100%;
    text-align: center;
}

.btnCarousel {
    width: 5%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    height: 100%;
}

.btnCarousel:hover {
    opacity: 1;
}

.btnCarousel2 {
    right: 0;
}

.btnCarousel_atras {
    background-image: url(../img/icone/ico_atras.png);
    width: 40px;
    height: 45px;
    background-repeat: no-repeat;
}

.btnCarousel_frente {
    background-image: url(../img/icone/ico_frente.png);
    width: 25px;
    height: 45px;
    background-repeat: no-repeat;
}

.quadrado_tela2 {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #1D3557;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    color: #EDF2F4;
}

.red {
    background-color: #E63946;
    box-shadow: 45px 30px 0px #e6394779;
}

.lightBlue {
    background-color: #457B9D;
    box-shadow: 45px 30px 0px #457B9D79;
}

.darkBlue {
    background-color: #1D3557;
    box-shadow: 45px 30px 0px #1D355779;
}

.card2 {
    display: flex;
    flex-direction: column;

}

.teste {
    perspective: 800px;

    width: 18%;
    min-width: 200px;
}

.teste:hover>.card2 {
    cursor: pointer;
    transform: rotateY(-180deg);
}

.card2 {
    position: relative;
    transition: transform 1000ms;
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: hidden;
}

.front {
    font-size: 10px;
}

.back {
    position: absolute;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.pg3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.cardUser {
    background-color: #A8DADC;
    height: 30%;
    width: 100%;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userStory {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quadradoMeio {
    background-color: #E63946;
    opacity: 0.46;
    width: 50%;
    height: 10%;
}

.grupoIcon {
    display: flex;
    flex-direction: column;
}

.cardUser p {
    font-size: 17px;
    /* width: 345px; */
    width: 50%;
    margin: 0px;
}

.storyboard {
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2%;
}

#img1 {
    height: 297px;
    width: 320px;
}

/* animação slide-infinito */

.divAvaliacoes {
    width: 200%;
    display: flex;
    flex-direction: row;
    height: 20vh;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #CDD8DD;
    margin-bottom: 15vh;
}

@keyframes translatestf {
    0% {}

    100% {
        transform: translateX(-500%);
    }
}

@keyframes translateinfinite {
    100% {
        transform: translateX(calc(-180px * 12));
    }
}

.avaliacoes-copiar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.avaliacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    width: 20%;
    height: 90%;
    animation: translatestf 15s linear infinite forwards;
    overflow: hidden;
}


.avaliacoes-cabecalho {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 40%;
}

.imgPerfil {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.imgStar {
    margin-bottom: 5%;
}

.imgStar1 {
    width: 22px;
}

.imgStar2 {
    width: 30px;
}

.imgStar3 {
    width: 35px;
}

.avaliacoes-cabecalho h5 {
    width: 100%;
}

.avaliacoes-texto {
    display: flex;
    justify-content: end;
}

.text {
    width: 95%;
}

.text h6 {
    font-size: 10px;
}

/* página 4 */

.pg4 {
    position: relative;
}

.marVermelho {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

/* FAQ */

.faq {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    gap: 50px;
    padding-left: 30vh;
}

h3 {
    display: flex;
    justify-content: flex-end;
}

.cardPerguntas {
    background-color: #EDF2F4;
    border-radius: 10px;
    border-style: solid;
    border-color: #E63946;
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2vh;
    padding: 3%;
}

.pergunta {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.pergunta p {
    margin: 0;
    margin-bottom: 0;
}

.pergunta img {
    display: block;
    transition: transform 0.5s ease-in;
}

.pergunta.active img {
    transform: rotate(90deg);
}

.resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.4s ease;
}

.resposta p {
    padding-left: 4vh;
}

/* página 5 */

.pg5 {
    background-color: #E63946;
    height: 130vh;
    width: 100%;
}

.quemSomos {
    width: 172vh;
    display: flex;
    align-items: center;
    gap: 20%;
}

.quemSomos h2, 
.quemSomos p {
    color: #EDF2F4;
    text-align: center;
}

.textoQuemSomos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.espacoTextoQuemSomos {
    height: 9vh;
}