@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

* {
    font-family: "Varela", sans-serif;
    font-weight: 500;
    font-size: large;
    font-style: normal;
    color: #22223B;

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    height: 67px;
    align-items: center;
    position: fixed;
    z-index: 1000;
    transition: 0.8s;
    border-radius: 0px 0px 50px 27px;
}

header.rolagem{
    background-color: #E63946;
}

main {
    background-color: #EDF2F4;
}

.logoHeader {
    font-size: x-large;
    color: #22223B;
}

.headerLeft {
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 30px;
}

.navbar2 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding-left: 0%;
    margin-bottom: 0;
}

.navbarOption {
    text-decoration: none;
    color: #22223B;
}

.headerRight {
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    column-gap: 30px;
    padding-right: 50px;
}

.navbarBtn {
    padding: 5px 15px;
    border-radius: 15px;
    background-color: #1D3557;
    cursor: pointer;
    color: #F1FAEE;
    border: none
}

.pg {
    height: 100vh;
}

.pg1 {
    background-image: url("../img/teste1-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 123vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10%;
}

.conteudo_pg1 {
    height: 55%;
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
}

.conteudo_pg1 h1 {
    font-weight: 400;
    font-size: 40px;
    color: #22223B;
    margin-bottom: 40px;
}

.conteudo_pg1 p {
    font-weight: 400;
    font-size: 30px;
}

.pg2 {
    display: flex;
    align-items: center;
    height: 88vh;
}

.carousel_serv {
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    justify-content: center;
}

.carousel {
    width: 100%;
    height: 550px;
}

.carousel-inner {
    height: 100%;
}

.carro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.carro h1 {
    width: 100%;
    text-align: center;
}

.btnCarousel {
    width: 5%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: 0.5;
    height: 100%;
}

.btnCarousel:hover {
    opacity: 1;
}

.btnCarousel2 {
    right: 0;
}

.btnCarousel_atras {
    background-image: url(../img/icone/ico_atras.png);
    width: 40px;
    height: 45px;
    background-repeat: no-repeat;
}

.btnCarousel_frente {
    background-image: url(../img/icone/ico_frente.png);
    width: 25px;
    height: 45px;
    background-repeat: no-repeat;
}

.quadrado_tela2 {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #1D3557;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
    color: #EDF2F4;
}

.red {
    background-color: #E63946;
    box-shadow: 45px 30px 0px #e6394779;
}

.lightBlue {
    background-color: #457B9D;
    box-shadow: 45px 30px 0px #457B9D79;
}

.darkBlue {
    background-color: #1D3557;
    box-shadow: 45px 30px 0px #1D355779;
}

.card2{
    display: flex;
    flex-direction: column;

}

.teste {
    perspective: 800px;

    width: 18%;
    min-width: 200px;
}

.teste:hover>.card2 {
    cursor: pointer;
    transform: rotateY(-180deg);
}

.card2 {
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back {
    backface-visibility: hidden;
}

.front{
    font-size: 10px;
}

.back {
    position: absolute;
    transform: rotateY(-180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}