body{
    background-color: #000000;
  }
  
 .backgroundimage{
   background-image: url("img/banner1.png");
   background-repeat: no-repeat;
   width: 100%;
   background-size: cover;
   height: 45vh;
  }
 
 

 .inicio{

  display: flex;
  justify-content: space-between;
 }


  .inicial{
   display: flex;
   max-width: fit-content ;
   margin-left: 90vh;
  }
  

  .inicial-conteudo h1, .dashboard h1, .site-h1{
    font-size: 36px;
    max-width: 30ch;
    padding-left: 50px;
    padding-bottom: 2vh;  
  }


  .inicial-conteudo p{
    font-size: 25px;
    max-width: 35ch;
    padding-bottom: 40px;
    padding-left: 10vh;
  }




  


