* {
    margin: 0;
    padding: 0;
    box-sizing: none;
}

.form{
    width: 600px;
    height: 86vh;
    background-color:#BF1744;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input{
    background-color: #A7C8F2;
    height: 30px;
    width: 300px;
    border-radius: 10px;
    display: grid;
  }
  
  p{
    /* text-align: center; */
    width: 20px;
    text-shadow: #000000 1px 1px;
    margin: auto;
  }

  /* header css */
.header-background {
    background-color: #5274e4;
    height: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo img {
    max-width: 50vh;
  }
  
  .logo:hover {
    color: #FDF2DC;
    transition: 300ms;
    text-shadow: 0 0 8px yellow;
  }
  
  .login-botao {
    color: #000000;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    column-gap: 100px;
  
  }
  
  
  .back-cadastro {
    color: #020202;
    position: absolute;
    right: 25vh;
    width: 9vh;
    font-size: x-large;
    background-color: white;
    height: 5vh;
    padding-right: 8vh;
  }
  
  .btnHeader {
    background: none;
    border: 2px solid black;
    text-transform: uppercase;
    padding: 12px 20px;
    width: 100%;
    cursor: pointer;
    transition: corPula 0, 4s linear;
    position: relative;
    align-self: center;
    z-index: 1;
    font-size: 1.8vh;
    font-weight: 800;
  }
  
  .btnHeader:hover {
    color: white;
  }
  
  .btnHeader::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    transition: transform 0.65s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
  }
  
  .btnHeader:hover::before {
    transform: scaleX(1);
  }

.corpo{
    background-image: url("img/banner1.png");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    height: 86vh;
}

.insideTitle{
    font-size: 30px;
    text-shadow: #000000 5px;
    color: white;
    /* width: 600px; */
}

.insideBody{
    color: white;
    font-size: 20px;
}

.form button{
    background-color: #D9D9D9;
    color: #BF1744;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;

}