/* manual */

/* div mãe */
.containerManual {
  /* background-color: rgb(111, 157, 30); */
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pesquisaManuais {
  /* background-color: violet; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* input */
#pesquisaManual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aliceblue; */
  height: 40px;
  padding: 10px;
  width: 600px;
  border: 3px solid brown;
  border-radius: 8px;
}

#pesquisaManual input {
  background: none;
  border: none;
  outline: none;
  width: 95%;
  color: azure;
  font-size: 14px;
}

input::placeholder {
  color: rgb(108, 123, 136);
  font-weight: bold;
}

#pesquisaManual i {
  color: aliceblue;
  font-weight: bold;
}

#buttonPesquisar{
  outline: none;
  background: none;
  border: none;
}

#botaoAdicionar button {
  padding: 8px;
  border: 2px solid brown;
  border-radius: 8px;
  color: aliceblue;
  background: transparent;
  width: 200px;
}

#historicoManuais {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 5px;
  height: 40%;
  /* background-color: chocolate; */
  border: 1px solid aliceblue;
  border-radius: 8px;
}

.itemManual {
  /* background-color: cadetblue; */
}

.headerManual {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 25px;
}

.textoManual {
  text-align: left;
  padding: 50px;
  height: 200px;
  overflow: hidden;
  overflow-y: scroll;
  /* background-color: aqua; */
}

.textoManual::-webkit-scrollbar {
  width: 15px;
  padding: 10px;
}

.textoManual::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: azure;
}

.footerManual {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px 20px 612px;
}

.item-footer-manual {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%
}

.popAdicionar {
  width: 550px;
  height: 600px;
  background: #6c757d;
  border-radius: 6px;
  position: absolute;
  top: 153%;
  left: 55%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.headerAdicionar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.headerAdicionar i,
.headerAlterar i {
  position: absolute;
  top: 2%;
  right: 4%;
  cursor: pointer;
}

.headerAdicionar i:hover,
.headerAlterar i:hover {
  color: #530f0f;
  transition: 0.5s;
}

.divInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.divInput input,
textarea {
  padding: 8px;
  width: 443px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #734545;
}

.tituloManual {
  width: 80%;
}

#imgAlterar{
  cursor: pointer;
}

.descricaoManual textarea {
  height: 255px;
}

.popAdicionar button,
.popAlterar button {
  padding: 10px;
  border-radius: 8px;
  background: aliceblue;
  color: #000;
  border: none;
  font-size: 14px;
}

.popAlterar {
  width: 520px;
  height: 600px;
  background: #6c757d;
  border-radius: 6px;
  position: absolute;
  top: 153%;
  left: 55%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 30px
}

.botoes {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

/* pagina mural */

/* .label-captura {
  display: flex;
  justify-content: center;
} */

/* .dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* div q pega tudo */
/* .dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .dash-right .avisos .container .div-form {
  width: 95%;
} */

/* .dash-right .avisos .container .div-form #form_postagem {
  width: 100%;
} */

/* .dash-right .avisos .div-form label {
  width: 100%;
} */

/* .dash-right .avisos .div-form input {
  width: 100%;
  border-radius: 5px;
} */

/* .dash-right .avisos .div-form textarea {
  width: 100%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
} */

/* .dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
} */

/* .publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
} */

/* .publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
} */

/* .publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
} */

/* .div-results {
  width: 100%;
} */

/* .div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
} */

/* .div-buttons {
  display: flex;
  justify-content: flex-end;
} */

/* .div-buttons>* {
  margin-left: 30px;
} */

/* .dash-right {
  display: flex;
  width: 100%;
  height: fit-content;
  background-color: #161618; - comentado
  position: relative;
  top: 0;
  left: 25%; - comentado
  height: 100%;
  overflow: auto;
} */