

body {

  min-height: 100%;
  width: 100%;
  background-color: #bcddf1;
  position: relative;
}

.main {
  min-height: 100vh;
  margin-bottom: 30px;
}

.btnHeader {
  background: none;
  border: 2px solid black;
  text-transform: uppercase;
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
  transition: corPula 0, 4s linear;
  position: relative;
  align-self: center;
  z-index: 1;
  font-size: 1.8vh;
  font-weight: 800;
}

.btnHeader:hover {
  color: white;
}

.btnHeader::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: transform 0.65s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.btnHeader:hover::before {
  transform: scaleX(1);
}

.opcoesresponsivo{
  display: block;
}

.backgroundimage{
 background-image: url("img/banner1.png");
 background-repeat: no-repeat;
 width: 100%;
 background-size: cover;
 height: 90vh;
 box-shadow: 0vh 3vh 6vh 0vh black;
 }


a{
  color: inherit;  
}

.colaboraçãorsp{
  display: none;
}


/* inputs */
.input{
  width: 240px;
  height:36px ; 
  background-color: #EEEE; 
  border-radius: 10px;
  border: 0px;
  box-shadow: 0px 3px 1px #d4d5d7;
}






/* header css */
.header{
  background-color: #5274e4;  
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: auto;
  box-shadow: 0vh 3vh 6vh 0vh black;
  position: fixed;
  
}


.header-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 3vh;
  margin-right: 3vh;
  width: 100%;
  height: auto;

}

.logo img{
  max-width: 40vh;
  margin-left: 100px;
}

.divUL{
display: flex;
justify-content: end;
width: 100%;
height: 100%;
}

.UL {
  display: flex;
    justify-content:end;
    width: 100%;
   color: #000000;
   font-size: 5vh ;
   height: auto;
   margin-top: 10px;
   margin-right: 150px;
}

.liepa{
  margin-left: 100px;
}

.opcoesresponsivo{
  display: none;
  justify-content: space-evenly;
  flex-direction: column;
}

.inicio{
padding-left: 120vh;
padding-top: 20vh;
}

.abridor{
  background-color: orange;
  width: 50px;
  height: 50px;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 0px 20px 20px 0px;
}

.inicial-conteudo h1, .site-h1{
  font-size: 6vh;
  max-width: 25ch;
  padding-bottom: 2vh;
}
.inicial-conteudo p{
  font-size: 4vh;
  max-width: 30ch;
}



.sobre-nos{
  display: grid;
  grid-template-columns: 80vh 4fr;
  justify-items: left;
  align-items: center;
  padding-left: 20vh;
  padding-top: 10vh;
}

.sobre-nos-img img{
  padding-left: 10vh;
  width: 100%;
 
}

.sobre-nos-conteudo h3, .cultura h3{
  color: #08102B;
  font-size: 6vh;
  padding-bottom: 4vh;
  padding-left: 10vh;
}

.sobre-nos-conteudo h2, .cultura h2{
  font-size: 4vh;
  padding-bottom: 3vh;

}

.sobre-nos-conteudo p, .cultura p{
  font-size: 5vh;
  max-width: 50ch;
}


.culturattl{
padding: 0px 70px 0px 100px;
 font-size: 36px;
}

.seguranca h2{
margin-left: 0px;
margin-top: 150px;
}
.img-seg{
width: 250px;
margin-left: 50px;
margin-top: 190px;
}

.cultura-segurança{
  display: grid;
  grid-template-columns: 70vh 4fr;
  padding-bottom: 10vh;
  padding-left: 5vh;
  
  
}
.cultura-segurança p{
  max-width: 45ch;
  padding-left: 0px;
  font-size:xx-large;
  padding-top: 10px;
  
}

.cultura-relacionamento {
  display: grid;
  grid-template-columns: 90vh 4fr ;
  padding-bottom: 5vh;
  padding-left: 80px;
  padding-top: 20px;
  
  
}

.relacionamento h2{
padding-left: 0px; 
padding-top:50px;
}

.cultura-relacionamento p{
  max-width: 45ch;
  padding-top: 10px;
  font-size: xx-large;
}


.cultura-relacionamento img{
  width: 400px ;
  margin-left: 200px;
}

.cultura, .sobre-nos, .inicial{
  min-height: 600px;
  display: grid;
}



.conectividade{
  display: flex;
   justify-content: space-evenly;
  
}
.conectividade img{
  padding-left: 80px;
  width: 350px;
  height: 300px;
}
.conectividade h1{
font-size: 26px;
}

.conectividade p{
  margin-top: 30px;
  width: 40ch;
  font-size: xx-large;
}

.solucao{
  display: flex;
   justify-content: space-evenly;
    padding: 120px 90px 150px 150px;
}
.solucao h1{
font-size: 26px;
}

.solucao p{
  width: 45ch;
  font-size: xx-large;
  margin-top: 20px;
}

.solucao img{
  width: 350px;
}




.tituloColab{

font-style: italic;
font-size: 10vh;
margin-left: 300px;
}

.colaboradores{
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;
  padding-left: 2vh;
 padding-right: 5vh;
 margin-top: 5vh;
 box-shadow: 5px 6px 5px 5px rgb(32, 32, 32);
}


.p{
  padding-left: 0.5vh;
}

.imgcolaboradores{
  min-width: 2vh;
  max-width: 25vh;
  width: 30vh;
 width: 100%;

}

.backcolaboradores{
padding-bottom: 80px;
}

.apoio h1{
  font-size: xx-large;
  margin-left: 600px;
  
}

.apoio img{
  width: 60vh;
  height: 20vh;
  margin-left: 500px;
}

.rappi{
  display: none;
}

.colaboração{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}




/* footer css */
.footer-container {
  background-color: #5274e4;
  box-shadow: 5px 0px 5px 10px black;

}

.footer-conteudo{
  display:flex;
  color: #000000;
  justify-content: space-between;
  justify-items: center;
padding-top: 20px;
padding-bottom: 24px;
}

.footer-conteudo h3{
  padding-bottom: 24px;
  text-align: center;
  font-size: 24px;
}

.footer-conteudo a{
  padding-bottom: 8px;
  align-items: center;
  display: flex;
}

.footer-conteudo a img{
  padding-right: 8px;
}
.redes-icon{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 14px;
}
.redes-icon img{
  max-width: 47px;
}
.footer-direitos{
  border-top: #000000 solid 1px;
  padding-bottom: 16px;
  padding-top: 16px;
  grid-column: 1/4;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-direitos span{
  font-size: 12px;
}


.sidebar {
  height: 100%;
  width: 0px;
  z-index: 10000;
  top: 0;
  right: 0;
  position: fixed;
  background: #27282c;
  border-radius: 16px 0;

  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  padding-top: 20px;
}
.abridor {
  position: absolute;
  left: -50px;
  top: 50%;
  background-color: #fee07c;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: left;
  padding-left: 15px;
  align-items: center;
  border-radius: 5px;
}


@media screen and (max-width: 1025px){

  .abridor{
    display: flex;
  }


  
  .header{
    background-color: #5274e4;  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: auto;
    box-shadow: 0vh 2vh 3vh 0vh black;
    position: fixed;
    
  }

  .divUL {
    display: none;
  }

 

  
.rspbtnHeader {
  background: none;
  border: 2px solid black;
  text-transform: uppercase;
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
  transition: corPula 0, 4s linear;
  position: relative;
  align-self: center;
  z-index: 1;
  font-size: 1.8vh;
  font-weight: 800;
}

.rspbtnHeader:hover {
  color: white;
}

.rspbtnHeader::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transition: transform 0.65s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  transform: scaleX(0);
}

.rspbtnHeader:hover::before {
  transform: scaleX(1);
}


  .logo img {
    width: 200px;
  }

  .opcoesresponsivo{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .backgroundimage{
    background-image: url("img/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    box-shadow: 0vh 3vh 6vh 0vh black;
   
   
    }

  .inicio {
    width: 5px;
    padding-left: 40px;
    padding-top: 80px;
    flex-direction: column;
    display: flex;
  }

  
.inicial-conteudo h1{
  font-size: 4vh;
  width: 200ch;

}
.inicial-conteudo p{
  font-size: 3.5vh;
  width: 200ch;
}


.sobre-nos{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.sobre-nos-img img{
 display: none;
 
}

.sobre-nos-conteudo h3{
  color: #08102B;
  font-size: 4vh;

}

.sobre-nos-conteudo h2{
  font-size: 4vh;
  

}




.sobre-nos-conteudo p{
  font-size: 3vh;
  width: 30ch;
}

.culturattl{
  padding: 50px 70px 0px 120px;
   font-size: 36px;
}

.cultura-segurança{
  display: flex;
  flex-direction: column;
  
  
  
}

.img-seg{
 display: none;
}

.cultura-relacionamento {
  display: flex;
  flex-direction: column;
  padding-bottom: 20vh;
  padding-left: 35px;
}


.cultura-relacionamento p{
  width: 25ch;
  font-size: x-large;
  padding-top: 10px;
}


.relacionamento h2{
padding-left: 30px; 
padding-top: 0px;
font-size: 36px;
}

.seguranca h2{
  margin-top: 20px;
margin-left: 80px;
}
.cultura-segurança p{
  width: 25ch;
  padding-left: 5px;
  font-size:x-large;
  
  
}

.cultura-conteudo img{
  display: none;

}



.cultura, .sobre-nos, .inicial{
  min-height: 100px;
  display: grid;

}



.conectividade{
  display: flex;
   justify-content:space-between;
   flex-direction: column-reverse;
   
   
}

.conectividade h1{
  margin-left: 80px;
  margin-bottom: 30px;
  font-size: 36px;
}

.conectividade p{
  width: 25ch;
  font-size: x-large;
  padding-left: 50px;
  padding-bottom: 30px;
}

.conectividade img{
  width: 385px;
  height: 150px;
  padding-left: 2px;
}

.solucao{
  display: flex;
  flex-direction: column;
   justify-content: space-evenly;
    padding: 120px 0px 150px 50px;
}
.solucao h1{
font-size: 36px;
}

.solucao p{
  width: 25ch;
  font-size: x-large;
  margin-top: 2vh;
}

.solucao img{
  width: 350px;
  padding-left: 0vh ;
  margin-top: 5vh;
}


.tituloColab{

  font-style: italic;
  font-size: xx-large;
  margin-left: 40px;
  }
  
  .colaboradores{
    display: flex;
    justify-content:flex-start;
    align-items: stretch;
    flex-direction: column;
    padding-left: 2vh;
   padding-right: 5vh;
   margin-top: 5vh;
   box-shadow: 5px 6px 5px 5px rgb(32, 32, 32);
   width: 330px;
  }
  
  
  .p{
    padding-left: 80px;
  }
  
  .imgcolaboradores{
    min-width: 2vh;
    max-width: 20vh;
    width: 30vh;
   width: 100%;
   padding-left: 100px;
  
  }
  
  .backcolaboradores{
  padding-bottom: 80px;
  }

  .apoio h1{
    font-size: xx-large;
    margin-left: 150px;
    
  }

  .apoio img{
    width: 60vh;
    height: 20vh;
    margin-left: 15px;
  }

.colaboração{
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.colaboraçãorsp{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-left: 0px;
}

.v8{
  width: 28vh;
}
.vokeialfa{

  width: 20vh;

}
.stefanini{
width: 28vh;
}
.rappi{
  display: block;
width: 20vh;
margin-left: 18vh;
}


}


